---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import SectionOutlined from "../../components/SectionOutlined.astro";
import BlogEntries from "../../components/BlogEntries.astro";

import {Content as BlogPage} from './main.md';

const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
    <Section>
        <div class="prose">
            <BlogPage/>
        </div>
    </Section>
    <Section>
        <BlogEntries limit={0} />
    </Section>
</PageLayout>
