---
import BaseLayout from "../layouts/BaseLayout.astro";

import Main from "../components/Global/Main.astro";
import Section from "../components/Section.astro";
import SectionOutlined from "../components/SectionOutlined.astro";
import BlogEntries from "../components/BlogEntries.astro";
import BookEntries from "../components/BookEntries.astro";
import ProjectEntries from "../components/ProjectEntries.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <Main>
        <Section>
            <h1>hello</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Temporibus aspernatur provident laborum corrupti doloremque id
                praesentium voluptatibus alias quae ex nisi, aliquid eius esse
                excepturi soluta, non commodi totam nemo.
            </p>
        </Section>
        <SectionOutlined>
            <h2>Blog</h2>
            <BlogEntries limit={3} />
        </SectionOutlined>
        <SectionOutlined>
            <h2>Projects</h2>
            <ProjectEntries limit={3} />
        </SectionOutlined>
        <SectionOutlined>
            <h2>Books</h2>
            <BookEntries limit={3} />
        </SectionOutlined>
    </Main>
</BaseLayout>
