---
import SidebarItem from "../Global/SidebarItem.astro";
import Image from "astro/components/Image.astro";
import profile from "../../images/profile.jpg";
---

<SidebarItem>
    <small>
        <h3>About</h3>
        <figure>
            <Image
                alt="Author profile picture with colorful glasses"
                src={profile}
                width="200"
                height="200"
                class="size-40 mx-auto my-1 border-2 border-base-40 ui"
            />
            <figcaption>
                This was the best I looked from last 3 years
            </figcaption>
        </figure>

        <p>
            This section will be about me, who I am, what I do and most
            importantly why I created this website. I will be talking about my
            interests and the things that I am passionate about, both
            academically and personally.
        </p>
        <br />
        <p>
            This section will be about me, who I am, what I do and most
            importantly why I created this website. I will be talking about my
            interests and the things that I am passionate about, both
            academically and personally.
        </p>
    </small>
</SidebarItem>
