---
import SidebarItem from "../Global/SidebarItem.astro";
import EntriesSmall from "../EntriesSmall.astro";
---

<SidebarItem>
    <small>
        <h3>Books</h3>
        <p>
            Write and list about the books I have read or is currently reading
            with little pictures on the left side and their descriptions on the
            right.
        </p>
        <EntriesSmall />
    </small>
</SidebarItem>
