---
import Entries from "../Entries.astro"
---

<section class="bound-box">
    <h2>PROJECTS 🛠️</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        aspernatur provident laborum corrupti doloremque id praesentium
        voluptatibus alias quae ex nisi, aliquid eius esse excepturi soluta, non
        commodi totam nemo.
    </p>

    <Entries />
</section>
