---

---

<article
    class="article-entry">
    <div id="image-banner" class="article-book-entry-image"></div>
    <div class="grow px-2 py-1 h-20">
        <h5>Title</h5>
        <small class="text-base-40 line-clamp-2">
            <p>
                Brief description of the item explaining what the item is about in minimal words and giving an idea of what to expect from the post...
            </p>
        </small>
    </div>
</article>
