---

---

<article
    class="article-entry-small">
    <div id="image-banner" class="article-book-entry-image-small"></div>
    <div class="grow px-2 py-0.5 h-15 overflow-hidden">
        <small>
            <h6>Book Title</h6>
                <p class="text-base-40">
                    Brief description of the item explaining what the item is about in minimal words and giving an idea of what to expect from the post...
                </p>
        </small>
    </div>
</article>
