---
import ArticleEntry from "./ArticleEntry.astro";
// get required entries from collections
// pass it to the entry components
---

<div class="flex flex-col gap-1 mt-4">
    <ArticleEntry />
    <ArticleEntry />
    <ArticleEntry />
</div>
