---
import ArticleEntry from "./ArticleEntry.astro";
import ArticleEntryContainer from "./ArticleEntryContainer.astro";
import { getCollection } from "astro:content";

interface Props {
    limit: number;
}

const { limit } = Astro.props;
let posts = [];

if (limit === 0) {
    posts = await getCollection("blogPosts");
} else {
    posts = (await getCollection("blogPosts")).slice(0, limit)
}

posts = posts.filter((post) => !post.data.isDraft);
---

<ArticleEntryContainer>
    {
        posts.map((post) => (
            <li>
                <ArticleEntry link={`/blog/${post.id}`} title={post.data.title}>
                    {post.data.description}
                </ArticleEntry>
            </li>
        ))
    }
</ArticleEntryContainer>
