---

---

<article
    class="flex flex-row gap-1 border-2 border-base-20 p-1 rounded-xs shadow-xs hover:bg-base-20">
    <div id="image-banner" class="min-w-30 h-20 bg-primary-30 rounded-xs"></div>
    <div class="grow px-2 py-1 h-20 overflow-hidden">
        <h4>Title</h4>
        <small class="text-base-40">
            <p>
                Brief description of the item explaining what the item is about in minimal words and giving an idea of what to expect from the post...
            </p>
        </small>
    </div>
</article>
