---
import Entry from "./Entry.astro";
// get required entries from collections
// pass it to the entry components
---

<div class="flex flex-col gap-1 mt-4">
    <Entry />
    <Entry />
    <Entry />
</div>
