---

---

<strong class="font-serif font-bold m-2 px-4 py-1 bg-stone-800 text-5xl text-white/100">
    <a href="/"> 
        E<span class="text-secondary-20">MA</span>NANT
        <!-- (ðŸŒ)  -->
    </a>
</strong>
<!-- â¤ï¸ -->
