---
import ArticleEntry from "./ArticleEntry.astro";
import ArticleEntryContainer from "./ArticleEntryContainer.astro";
import { getCollection } from "astro:content";

interface Props {
    limit: number;
}

const { limit } = Astro.props;
let projects = [];

if (limit === 0) {
    projects = await getCollection("projectPosts");
} else {
    projects = (await getCollection("projectPosts")).slice(0, limit)
}

projects = projects.filter((project) => !project.data.isDraft);
---

<ArticleEntryContainer>
    {
        projects.map((project) => (
            <li>
                <ArticleEntry link={`/projects/${project.id}`} title={project.data.title}>
                    {project.data.description}
                </ArticleEntry>
            </li>
        ))
    }
</ArticleEntryContainer>
