---

---
<aside class="basis-1/4 flex flex-col gap-0">
    <article class="bound-box p-2">
        <h3>about section</h3>
        <p>Hello</p>
    </article>
    <article class="bound-box p-2">
        <h3>books section</h3>
    </article>
</aside>
