---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import SectionOutlined from "../../components/SectionOutlined.astro";
import BookEntries from "../../components/BookEntries.astro";
import {Content as BookPage} from './main.md';

const pageTitle = "Books";
---

<PageLayout pageTitle={pageTitle}>
    <Section>
        <div class="prose">
            <BookPage />
        </div>
    </Section>
    <Section>
        <BookEntries limit={0} />
    </Section>
</PageLayout>
