---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import SectionOutlined from "../../components/SectionOutlined.astro";

const pageTitle = "Books";
---

<PageLayout pageTitle={pageTitle}>
    <Section>
        <h1>Books</h1>
        <p>Write about the books you have read, your favorite books and the books that have changed the way you think and carry on with your life.</p>
    </Section>
    <SectionOutlined>
        <h2>My Books</h2>
        <ul>
            <li><a href="#">Book A</a></li>
            <li><a href="#">Book B</a></li>
            <li><a href="#">Book C</a></li>
        </ul>
    </SectionOutlined>
</PageLayout>
