---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import SectionOutlined from "../../components/SectionOutlined.astro";
import ProjectEntries from "../../components/ProjectEntries.astro";
import {Content as ProjectPage} from './main.md';

const pageTitle = "Projects";
---

<PageLayout pageTitle={pageTitle}>
    <Section>
        <div class="prose">
            <ProjectPage />
        </div>
    </Section>
    <Section>
        <ProjectEntries limit={0} />
    </Section>
</PageLayout>
