---
import PageLayout from "./PageLayout.astro";
const { frontmatter } = Astro.props;
---
<PageLayout pageTitle="lol">
    <h1>{ frontmatter.title }</h1>
    <p>{ frontmatter.author }</p>
    <slot />
</PageLayout>