---
import BaseLayout from "./BaseLayout.astro";
import Main from "../components/Global/Main.astro";
import Sidebar from "../components/Global/Sidebar.astro";
import Section from "../components/Section.astro";
import SectionOutlinedSmall from "../components/SectionOutlinedSmall.astro";
import ArticleEntrySmall from "../components/ArticleEntrySmall.astro";
import ArticleEntryContainerSmall from "../components/ArticleEntryContainerSmall.astro";

const pageTitle = "Blog - EMANANT"
---
<BaseLayout pageTitle={pageTitle}>
    <Main>
        <Section>
            <slot />
        </Section>
    </Main>
    <Sidebar>
        <SectionOutlinedSmall>
            <h3>Mini Blog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis nesciunt? Reprehenderit nulla incidunt inventore eum nisi consectetur cumque labore quisquam officiis iste? Quo exercitationem dolores commodi fugit tenetur debitis.</p>
            
            <ArticleEntryContainerSmall>
                <ArticleEntrySmall />
                <ArticleEntrySmall />
                <ArticleEntrySmall />
            </ArticleEntryContainerSmall>

        </SectionOutlinedSmall>
        <SectionOutlinedSmall>
            <h3>Blog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, officiis nesciunt? Reprehenderit nulla incidunt inventore eum nisi consectetur cumque labore quisquam officiis iste? Quo exercitationem dolores commodi fugit tenetur debitis.</p>
        </SectionOutlinedSmall>
    </Sidebar>
</BaseLayout>