---
import PageLayout from "./PageLayout.astro";
import Section from "../components/Section.astro";
import BookMDBanner from "../components/BookMDBanner.astro";

const { frontmatter } = Astro.props;
---

<PageLayout pageTitle={frontmatter.title}>
    <Section>
        <BookMDBanner frontmatter={frontmatter} />
    </Section>
    <Section>
        <div class="prose">
            <slot />
        </div>
    </Section>
</PageLayout>
