---
import BaseLayout from "./BaseLayout.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";

const pageTitle = "Home - MA(NET)";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-row gap-0 h-screen">
        <section class="flex flex-col gap-0 basis-3/4">
            <Section>
                <div class="prose">
                    <h1>Heading 1</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Facere voluptatem id praesentium, numquam omnis
                        labore ipsam magni beatae maiores quis rerum alias iure
                        harum dolorem non error, odio esse nobis!
                    </p>
                    <hr />
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Facere voluptatem id praesentium, numquam omnis
                        labore ipsam magni beatae maiores quis rerum alias iure
                        harum dolorem non error, odio esse nobis!
                    </p>
                    <blockquote>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ut voluptate dolorem hic laborum. Earum optio, molestias blanditiis magnam ea voluptates ratione adipisci aut, facilis, molestiae qui laboriosam. Ducimus, debitis."
                        <footer>
                            <cite>Shakespeare</cite>
                        </footer>
                    </blockquote>

                    <p>
                        <abbr title="Haha">Abbreviation</abbr>
                    </p>
                    <p>
                        <strong>Strong</strong> and <b>Bold</b>
                    </p>
                    <p>
                        <i>Italic</i> and <em>Emphasis</em> and <cite>Cite</cite>
                    </p>
                    <p>
                        <del>Deleted</del> and <s>Strikethrough</s>
                    </p>
                    <p>
                        <ins>Inserted</ins> and <kbd>Ctrl + S</kbd>
                    </p>
                    <p>
                        <u>Underlined text</u>
                    </p>

                </div>
                <p>This is called layout baby!</p>

                <div>
                    <Button variant="base"> Button </Button>
                    <Button variant="base-ghost"> Button </Button>
                    <Button variant="primary"> Button </Button>
                    <Button variant="primary-ghost"> Button </Button>
                    <Button variant="secondary"> Button </Button>
                    <Button variant="secondary-ghost"> Button </Button>
                    <Button variant="link"> Button </Button>
                </div>

                <div>
                    <input type="text" placeholder="INPUT" class="input-base" />
                    <input type="text" placeholder="INPUT" class="input-primary" />
                    <input type="text" placeholder="INPUT" class="input-secondary" />
                </div>

                <slot />
            </Section>
            <Section> project section </Section>
        </section>
        <section class="flex flex-col gap-0 basis-1/4">
            <Section>
                <h1>about section</h1>
            </Section>
            <Section>
                <h1>books section</h1>
            </Section>
        </section>
    </div>
</BaseLayout>
