---
import BaseLayout from "./BaseLayout.astro";
import Main from "../components/Global/Main.astro";
import Sidebar from "../components/Global/Sidebar.astro";
import SidebarItem from "../components/Global/SidebarItem.astro";
---
<BaseLayout>
    <Main>
        <slot />
    </Main>
    <Sidebar />

</BaseLayout>