---
import BaseLayout from "./BaseLayout.astro";
import Main from "../components/Global/Main.astro";
import Sidebar from "../components/Global/Sidebar.astro";
import AboutMe from "../components/Home/AboutMe.astro";

type Props = {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <Main>
        <slot />
    </Main>
    <Sidebar>
        <AboutMe/>
    </Sidebar>
</BaseLayout>
