---
import BaseLayout from "./BaseLayout.astro";
import Main from "../components/Global/Main.astro";

type Props = {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <Main>
        <slot />
    </Main>
</BaseLayout>
