---
import PageLayout from "./PageLayout.astro";
import Section from "../components/Section.astro";
import BlogMDBanner from "../components/BlogMDBanner.astro";
const { frontmatter } = Astro.props;
---

<PageLayout pageTitle={frontmatter.title}>
    <Section>
    <BlogMDBanner frontmatter={frontmatter} />
        <div class="prose">
            <slot />
        </div>
    </Section>
</PageLayout>
