---
import Logo from "../Logo.astro";
type NavItem = {
    link: string;
    label: string;
};

type NavLinks = Array<NavItem>;

const navLinks: NavLinks = [
    { link: "/", label: "HOME" },
    { link: "/blog", label: "BLOG" },
    { link: "/projects", label: "PROJECTS" },
    { link: "/books", label: "BOOKS" },
    { link: "/about", label: "ABOUT" },
];
---

<header class="ui p-0 mb-0.5 bg-base-30 rounded-none border-y-2 border-base-40">
    <nav class="flex flex-col items-center gap-0 site-width mx-auto">
        <Logo />
        <ul class="flex flex-row gap-0">
            {
                navLinks.map((item) => (
                    <li>
                        <a class="btn-base-ghost" href={item.link}>
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
        <div class="grow"></div>
        <!-- <ul> -->
        <!-- <input class="input-base" placeholder="SEARCH" type="text" /> -->
    </nav>
    <!-- </ul> -->
</header>
