---
import SidebarItem from "./SidebarItem.astro"
---
<aside class="flex flex-col gap-0 basis-1/3 ui">
    <slot>
        <SidebarItem>
            <h3>Global Menu</h3>
        </SidebarItem>
        <SidebarItem>
            <h3>Global Menu</h3>
        </SidebarItem>
    </slot>
</aside>

